{% extends 'app_restaurant/base.html' %}

{% block restaurant %}

 {% block content %}
      <h2>Restaurants of our city</h2>
        <form method="GET" action="">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Search</button>
          </form>
          <ul>
            {% for restaurant in restaurants %}
              <li>{{restaurant.name}}</li>
              <li>{{restaurant.specialization}}</li>
            {% endfor %}
          </ul>
 {% endblock %}

{% endblock %}